html{
    background-color: #4787ed;
}
main{
    width: 98%;
    min-height: 75vh;
    border: .1rem solid black;
}
#about{
    width: 46%;
    margin: 1rem;
    border: .1rem solid black;
    float: left;
}
#sign-up{
    width: 46%;
    margin: 1rem;
    padding: .5rem;
    border: .2rem dotted black;
    display: flex;
    flex-direction: column;
}
.pre-course{
    width: 280px;
    display: inline-block;
}

#course{
    display: flex;
    flex-direction: row;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.department{
    width: 250px;
    display: inline-block;
}
.submit-button{
    margin-left: 5rem;
    width: 8rem;
}
.selection{
    display: inline-block;
}
.dept{
    display: inline;
}
footer{
    text-align: center;
    background-color: #C41245;
    color: white;
    width: 98%;
    border-radius: 50%;
    border: .1rem solid black;
}

h2{
    text-align: center;
}

p,li{
    font-size: larger;
    padding: .5rem;
}

h1{
    width: 98%;
    border-radius: 30%;
    border: .1rem solid black;
    text-align: center;
    animation-name: landing-page;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes landing-page{
    25%{
        background-color: #8c08ff;
    }
    50%{
        background-color: #b7e61e;
    }
    75%{
        background-color: #de1714;
    }
    100%{
        background-color: #24e61e;
    }
}

@media only screen and (max-width:768px){
    #about{
        width: 96%;
        margin: .5rem;
    }
    #sign-up{
        width: 93%;
        margin: .5rem;
    }
    footer{
        margin-top: .5rem;
        margin-left: 0;
    }
}

@media only screen and (max-width:600px){
    #about{
        width: 95%;
        margin: .5rem;
    }
    #sign-up{
        width: 90%;
        margin: .5rem;
    }

    footer{
        margin-top: .5rem;
        margin-left: 0;
    }

    .submit-button{
        margin-left: 7rem;
        margin-top: 2rem;
        width: 8rem;
    }
}
